
.root{}

.nav-bar{
    -fx-background-image: url('../Images/sidebar.jpg');
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-margin-top:0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.nav-button:hover{
    -fx-background-color:#cccccc;
}

.body{
    background-color: #E5E5E5;
    color: #3C4858;
}

/*.nav-button {
    -fx-background-color: #C63D0F;
}
.nav-button:pressed {
    -fx-background-color:#D9853B;
}*/

