@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Thin.ttf);
} 
@media cn1{
    TitleArea {
        background-color: transparent;
        font-size : 2.5mm;
    }
    Form{
        background-color : #efefef;

    }
    HomeForm {
        cn1-derive: Form;
        background-color: #efefef;
    }
    Button{
        background-color: #009999;
        border-radius: 2mm;
        color : white;
        text-align: center;
        font-size : 3mm;
        font-family : native:MainRegular;
    }
    Button.pressed{
        background-color: #009999;
        border-radius: 2mm;
        color : white;
        text-align: center;
        font-size : 3mm;
        font-weight: bold;
        font-family : native:MainRegular;
    }
    Button.disabled{
        background-color: rgba(66, 82, 79, 0.219);
        border-radius: 2mm;
        color : white;
        font-size : 3mm;
        text-align: center;
        font-family : native:MainRegular;
    }
    Delete{
        color : rgb(226, 9, 9);
        border-radius: 2mm;
        text-align: center;
        font-size : 3mm;
        font-weight: bold;
        background-color: rgb(185, 185, 185);
        font-family : native:MainRegular;

    }
    Delete.pressed{
        color : rgba(250, 42, 42, 0.342);
        border-radius: 2mm;
        text-align: center;
        font-size : 3mm;
        font-weight: bold;
        background-color : rgba(219, 75, 75, 0.61);
        font-family : native:MainRegular;

    }
    Delete.disabled{
        background-color: rgba(66, 82, 79, 0.219);
        border-radius: 2mm;
        color : white;
        font-size : 3mm;
        text-align: center;
        font-family : native:MainRegular;
    }
    DBody{
        margin-bottom: 10mm;
    }
    BoutiqueInfo{
        text-align: center;
    }
    Label{
        background-color : transparent;
        font-size : 2mm;
        font-family : "Source Sans Pro";
    }
    List{
        background-color : efefef;
    }
    ListItem{
        background-color : white;
        border-radius: 2mm;
        margin: 0.5mm 0.5mm 0.5mm 0.5mm ;
    }
    ListItem.selected{
        background-color : #e2e2e2;
    }
    Title2{
         background-color : transparent;
        color : #009999;
        font-size : 3.5mm;
         margin: 0.5mm 4mm 4mm 0.5mm ;
        font-family : "Source Sans Pro";
        
    }
    PreviewPhoto{
        background-color : transparent;
        border-radius: 2mm;
        margin: 0.5mm 0.5mm 0.5mm 2mm ;
    }
    Title{
        background-color : transparent;
        color : #545454;
        font-size : 3.5mm;
        font-family : native:MainRegular;
    }
    TitleCommand{
        color : #009999;
        margin: 0.1mm 0.3mm 0mm 0.3mm;
        font-size : 2.5mm;
        font-family : native:MainRegular;
        background-color : transparent;
    }
    TitleCommand.pressed{
        color : rgba(0, 181, 212, 0.904);
        margin: 0.1mm 0.3mm 0mm 0.3mm;
        background-color : rgba(25, 106, 121, 0.212);
    }


    MultiLine1{
        background-color : transparent;
        color : #545454;
        font-size : 3mm;
        font-family : native:MainRegular;
    }
    MultiLine2{
        background-color : transparent;
        font-size : 1mm;
        color : #666666;
        font-family : native:MainRegular;
    }
    MultiLine3{
        background-color : transparent;
        font-size : 1mm;
        color : #666666;
        font-family : native:MainRegular;
    }
    MultiLine4{
        background-color : transparent;
        font-size : 1mm;
        color : #666666;
        font-family : native:MainRegular;
    }
    SidemenuTagline{
        background-color : transparent;
        color : white;
        text-align : left;
        font-family : native:MainRegular;
        font-size : 4mm;
        margin-bottom : 5mm;
    }

    SideCommand{
        background-color : #009999;
        color : white;
        font-family : native:MainRegular;
        font-size: 3.5mm;
        border: transparent;
        padding : 1mm;
        margin-bottom : 1mm;
    }
    SideCommand.pressed{
        background-color : #007777;
        border-color : transparent;
        border : none;

    }
    SideCommand.selected{
        background-color : #007777;
        border-color : transparent;
        border : none;
    }
    /* ----------------------for sign up form -------------------------*/
    SignUpForm {
        padding: 0;
        cn1-derive: Form;
        background-image: url(../assets/background.png);

    }

    /* White background for center panel on which all text fields are placed */
    SignUpCenter {
        background-color: white;
        padding: 0;
        margin: 0;
    }
    SignUpField, SignUpLabel {
        border-bottom: 1px solid rgb( 77, 96, 111 );
        border-right: 1px solid rgb( 77, 96, 111 );
        opacity: 0.102;
        padding: 2mm;
        color: rgb( 77, 96, 111 );
        font-family: "Roboto";
        margin: 0;


    }

    SignUpLabel {
        padding-left: 4mm;
        padding-right: 4mm;
    }

    SignupFieldHint {
        font-family: "Roboto";
        color: rgb( 77, 96, 111 );
        font-size: small;
        padding: 4mm;
    }

    PhotoButton {
        /* background-color: rgb(247, 112, 50); */
        margin: 3mm;
    }

    SignUpButton {
        background-color: rgb( 247, 50, 103 );
        border: none;
        margin: 0;
        color: white;
        text-align: center;
        font-family: "Roboto";
        padding: 2mm;
    }

    SignUpButton.pressed {
        background-color: gray;

    }
    /* ---------------------- LABEL FOR ITEMS IN LIST  -------------------------*/
    TitleItem {
        padding-left: 3mm;
        padding-right: 3mm;
        color: rgb(247, 112, 50);
        font-family: "Roboto";
        font-size: 6.5mm;
        font-weight: bold;
        background-color: transparent;
    }
    RestItem{
        padding-left: 0.5mm;
        padding-right: 1mm;
        color: rgb(0, 0, 0);
        font-family: "Roboto";
        font-size: 2mm;
        font-weight: bold;
        background-color: transparent;
    }
    RestItemInfo{
        background-color : transparent;
        font-size : 3mm;
        font-weight: bold;
        font-family : "Source Sans Pro";
        color: orangered;
    }
    PhotoItem{
        margin: 1.5mm;
        border-radius: 2mm;
        background-color: transparent;
        cn1-background-type: cn1-image-scaled-fill;

    }
    EtatTombolaFermée{
        background-color: rgba(255, 187, 0, 0.863);

        color: rgb(255, 255, 255);
        font-family: "Roboto";
        font-size: 3mm;
        text-align: center;
        font-weight: bold;
        border-radius: 0 2mm 2mm 0;;
    }
    EtatTombolaOuverte{
        background-color: green;

        color: rgb(255, 255, 255);
        font-family: "Roboto";
        font-size: 3mm;
        text-align: center;
        font-weight: bold;
        border-radius: 0 2mm 2mm 0;;

    }
    EtatTombolaCloturée{
        background-color: red;

        color: rgb(255, 255, 255);
        font-family: "Roboto";
        font-size: 3mm;
        text-align: center;
        font-weight: bold;
        border-radius: 0 2mm 2mm 0;;

    }
    /************************* ADD TOMBOLA STYLES ****************************************/
    Titre{
        cn1-derive: Container;
        padding: 0.5mm 0.5mm 0.5mm 0.5mm ;
        font-weight: bold;
        font-family : "Source Sans Pro";
        /* border-width: 0; */
    }
    Date{
        cn1-derive: Container;
        margin: 0.5mm 0.5mm 0.5mm 5mm ;
        font-weight: bold;
        font-family : "Source Sans Pro";
        border-width: 0;
    }
    Time{
        cn1-derive: Container;
        margin: 0.5mm 0.5mm 0.5mm 0.5mm ;
        font-weight: bold;
        font-family : "Source Sans Pro";
        border-width: 0;
    }
    SpanLabel{
        margin:3mm 0.5mm 0mm 0.5mm; 
        background-color : transparent;
        font-size : 4mm;
        font-weight: bold;
        font-family : "Source Sans Pro";
        color: rgba(22, 17, 15, 0.418);
    }
    SpanLabel2{
        margin:0.5mm 0.5mm 0mm 0.5mm; 
        background-color : transparent;
        font-size : 4mm;
        font-weight: bold;
        font-style: italic;
        font-family : "Source Sans Pro";
        color: rgba(209, 28, 28, 0.842);
    }

}